= simple_form_for [:admin, @match] do |f|
  = f.association :league
  = f.input :played_at_date, :as => :string, :input_html => { :class => 'datepicker', :value => @match.played_at.present? ? l(@match.played_at_date) : nil }
  = f.input :played_at_time, :as => :string, :input_html => { :class => 'timepicker', :value => @match.played_at.present? ? l(@match.played_at_time, :format => :short_time) : nil }
  = f.input :home_team_name
  = f.input :away_team_name
  = f.input :home_team_goals
  = f.input :away_team_goals
  = f.submit
