!!!
%html
  %head
    %title Soccer

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    .container
      %header
        %ul
          %li= link_to 'Teams', admin_teams_path
          %li= link_to 'Wedstrijden', admin_matches_path
          %li= link_to 'Standen', admin_rankings_path
          %li= link_to 'Competities', admin_leagues_path

      .main
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}
            %strong= value
        = yield